.open-sans-normal {
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}

/*Sheard Stayle  */

.secondery_bg {
  background: #fff8f3;
}
.dark2 {
  color: #474747;
}

.btn_primary {
  background: #fd6e0a;
  font-weight: bold;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.section_title {
  font-size: 35px;
  color: #181818;
  font-weight: bold;
}
.section_description {
  font-size: 18px;
  color: #757575;
}

.text_center {
  text-align: center;
}

/* header style */
.header {
  background-image: url('../images/developer.png'),
    url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* nav style */

.text_preymary {
  color: #fd6e0a;
}
.nav_title {
  font-weight: 8000;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}

nav button,
.contact {
  margin-left: 20px;
}

.hero_button {
  margin-top: 100px;
}

/* banner stayle */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner_box {
  max-width: 580px;
}

.banner_greetings {
  font-size: 45px;
  font-weight: 600;
}

.banner_title {
  font-weight: bold;
  font-size: 85px;
}

.banner_profile_picture {
  width: 580px;
}

/* main style */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
  margin-bottom: 130px;
}

/* about Style */

.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}

.about_items {
  display: flex;
  justify-content: space-around;
}

.item_descripton {
  font-weight: 600;
}
.item_title {
  margin-top: 40px;
  margin-bottom: 30px;
}

/* skill style */
.skill_container {
  display: flex;
  gap: 24px;
  margin-top: 50px;
}
.skill {
  color: #757575;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume section style */
.resume_container {
  display: flex;
  gap: 24px;
}
.experience_title {
  color: #474747;
  font-size: 25px;
  font-weight: bold;
}
.experience_sub_title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.experience_description,
.experience_sub_title {
  color: #757575;
}

.resume hr {
  margin: 30px 0;
}

.resume_dawonlode_cv {
  margin-top: 50px;
}

/* footer style */
.img_icon {
  margin-top: 350px;
}
.img_icon img {
  margin-right: 40px;
}
footer {
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}
.footer_colume {
  width: 50%;
}
footer input[type='text'],
footer input[type='email'],
footer textarea {
  height: 64px;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}
